body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: #F4F5EF;
}

h1, h2, h3, p, ul, pre {
    margin: 0;
}

pre {
    white-space: pre-wrap;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header_block {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom: 4px solid #AEAEAC; 
    margin-bottom: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.first_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #AEAEAC;
    margin-bottom: 30px;
}

.left_photo {
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom:  30px;

}

.right_bio {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.photo {
    width: 350px;
}

.main_header {
    font-size: 48px;
    margin-bottom: 25px;

}

.subtitle {
    font-size: 28px;
    margin-bottom: 15px;
}

.bio_paragraph {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.second_block {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 4px solid #AEAEAC; 
    margin-bottom: 30px;
}

.skills {
    font-size: 22px;
}

.education {
    font-size: 22px;
}

.skills_title {
    font-size: 28px;
    margin-bottom: 15px;
}

.skills_subtitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.skills_list {
    margin-bottom: 20px;
}

.code_example {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #AEAEAC;
}

.code_block {
    font-size: 18px;
    padding: 20px 40px 0 40px;
    margin-bottom: 30px;
    width: 800px;
}

.additional-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 4px solid #AEAEAC;
}

.contacts, .projects {
    display: flex;
    flex-direction: column;
}

.contacts_header, .projects-header {
    font-size: 28px;
    margin-bottom: 15px;
}

.contacts_list, .projects-list {
    padding: 0;
    font-size: 22px;
}

.contacts_list_item, .projects-list-item {
    padding: 10px 0;
    list-style-type: none;
}

.item_bold {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 40px;
    background-color: #AEAEAC;
}

.footer-container {
    font-size: 24px;
}

.footer-account-link {
    color: black;
}

.footer_school_logo {
    width: 100px;
}