body {
    margin: 0 auto;
    padding: 0;
    width: 1440px;
}

h1, h2, h3, h4, h5, h6, ul, li, input, p, form {
    margin: 0;
    padding: 0;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    min-height: 90px;
    background-color: #0C0C0E;

}

.logo {
    font-family: 'Forum', serif;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;

}

.nav-list {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.nav-list-item {
    list-style: none;
    padding-right: 30px;
    font-family: 'Inter', serif;
    line-height: 40px;
    letter-spacing: 2px;
}

.nav-list-item:nth-child(5) {
    padding-right: 40px;
}

.main-header {
    font-family: 'Forum', 'serif';
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
}

.section-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 600px;
    background-image: url('img/banner.jpg');
    margin-bottom: 20px;
}

.main-header {
    width: 600px;
    padding: 35px 40px;
    background-color: #0C0C0E;
    font-family: 'Forum', 'serif';
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.h2-decor-container {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    font-family: 'Forum', serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-welcome, .section-favourites, .section-coffee-shop, .section-our-contact, .members-section {
  margin: 0 20px 40px 20px;
}

.h2-decor {
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about-descr {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.about-container-img {
    display: flex;
    margin-bottom: 40px;
}

.about-img {
    margin-right: 25px;
}

.about-img:last-child {
    margin-right: 0;
}

.scroll-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.scroll-list {
    margin-right: 10px;
    list-style: none;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.scroll-list:first-child {
    background-color: #BB945F;
}

.scroll-list:last-child {
    margin: 0;
}

.header-level-four {
    font-family: 'Inter', serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.radio-list {
    display: flex;
    margin-bottom: 40px;
}

.radio-list-item {
    list-style: none;
    margin-right: 90px;
}

.radio-list-item:last-child {
    margin-right: 0;
}

.input-point {
    margin-right: 20px;
    accent-color: #0C0C0E;
}

.favourites-books-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-container {
    position: relative;
    width: 355px;
    min-height: 525px;
    padding: 15px 175px 15px 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    border: 1px solid #000000;
}

.book-heading-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.book-heading-underline {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}

.header-level-five {
    font-family: 'Forum', serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.header-level-six {
    font-family: 'Inter', serif;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.book-paragraph {
    font-family: 'Inter', serif;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
}

.button-buy {
    cursor: pointer;
    padding: 9px 27px;
    background-color: white;
    border-color: #0C0C0E;
}

.button-buy:hover {
    background-color: #0C0C0E;
    color: white;
}

.book-image {
    width: 200px;
    position: absolute;
    right: -40px;
    bottom: -1px;
}

.coffeshop-descr {
    font-family: 'Inter', serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

.coffee-list-heading, .desserts-list-heading {
    font-family: 'Forum', serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #BB945F;
    margin-bottom: 40px;
}

.desserts-list-heading {
    text-align: right;
}

.coffee-list {
    width: 438px;
    font-family: 'Inter', serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.coffee-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 40px;
}

.coffee-menu-item {
    width: 200px;
}

.desserts-menu-item {
    width: 200px;
    text-align: right;
}

.coffee-underline {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.our-contact-container {
    display: flex;
    justify-content: space-between;
}

.header-level-four-contact {
    font-family: 'Inter', serif;
    margin-bottom: 40px;
}

.contacts-right-block {
    width: 696px;
}

.our-contacts-descr {
    font-family: 'Inter', serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.our-contacts-descr-last {
    margin-bottom: 40px;
}

.header-level-four-staff {
    margin-bottom: 20px;
}

.header-level-three {
    font-family: 'Inter', serif;
    font-size: 30px;
    letter-spacing: 2%;
    margin-bottom: 20px;
}

.members-containers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-container {
    border: 3px solid #BB945F;
}

.form-inner-container {
    width: 560px;
    padding: 20px 20px 25px;
    margin: 20px;
    background-color: #BB945F;
    display: flex;
    flex-direction: column;
}

.input-name {
    margin-bottom: 25px;
}

.input-name, .input-number {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    border: none;
}
.input-name[placeholder], .input-number[placeholder] {
    padding-left: 20px;
    font-family: 'Forum', serif;
    font-size: 30px;
    letter-spacing: 2%;
}

.btn-check-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.check-button {
    font-family: 'Inter', serif;
    padding: 10px 40px;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    background-color: #FFFFFF;
}
